* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  color: white;
}

.main-content {
  padding-top: 40px;
  width: 550px;
  margin: 0 auto;
}
.main-container {
  background-color: #282d35;
  height: 450px;
  padding: 40px;
  background-image: url("./assets/Group.svg");
  background-repeat: no-repeat;
  background-position: right 45%;
  /*background-position-x*/
  /*background-position-y*/
}

.main-header {
  padding-bottom: 30px;
}

.list-items {
  padding: 0 30px;
}
.list-items li {
  padding: 5px;
}

.list-items li::marker {
  color: #00d8ff;
  font-size: 1.5rem;
}
.logo {
  width: 40px;
  height: 40px;
}
.header-text {
  color: #00d8ff;
}
.nav-container {
  background-color: #21222a;
  height: 90px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-img {
  background-repeat: no-repeat;
  right: 20;
}
